

blink {
    animation: 2s linear infinite condemed_blink_effect;
  }
@keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
}

body {
    background: url("./fond.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}

button {
    background-color:rgba(0, 0, 0, 0);
    border: none;
}

.vert {
    color: rgb(126, 207, 106);
}
.bleu {
    color: rgb(106,103,220);
}

.blanc {
    .
    color: rgb(240,240,240)
}

.blanc_ {
    display: block flow;
    color: rgb(240,240,240)
}

.test {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(67,75,60);
    border-radius: 5px 5px 0px 0px;
}

.test3 {
    text-align: center;
}

.dot {
    float: right;
}

.test3 , p {
    color: rgb(240,240,240);
    margin: 0%;
}

.test4{  
}

.baba{
    display: flex;
}

.test1 {
    margin-left: 5%; 
    margin-right: 5%;
    background-color: rgb(47,9,34);
    padding-bottom: 30%;
}

.test2{
    display: flex;
}

.test2_{
    display: none;
    flex-direction: column;
}
.help{
    display: none;
    flex-direction: column;
}

.input {
    background-color:rgb(47,9,34);
    color: rgb(240,240,240);
    border-width: 0px;
}

.input:focus {
    outline: none;
}

.dotRed {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  align-self: flex-start;
}
.dotRed:hover{
    background-color: red;
}

.dotGreen {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  align-self: flex-start;
}
.dotGreen:hover{
    background-color: green;
}

.dotOrange {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  align-self: flex-start;
}
.dotOrange:hover{
    background-color: orange;
}